{% extends "base.html" %}

{% block content %}

<div class="container-fluid" style="background: #ddd">
        <div class="container py-5">
            <div class="row mx-2 text-justify" style="font-weight: bold">
                This initiative aims at producing publicly available data for construction industry by utilising people contributions to labelling and tagging different dataset.
                I am pleased you are contributing to generating a dataset that is relevant to construction projects.
                Please contact me if you do have a dataset that you wish to tag or share with the industry.
                For this dataset you are required to classify each tweet with three different variables:
                <ol>
                <li class="py-1">Sentiment: whether it is supporting neutral or against the project scheme</li>
                <li class="py-1">Sarcasm: one of the big issues in data analytics if there is sarcasm in the tweet AI can classify sentiment incorrectly. So, please also tag whether a tweet has sarcasm in it or not.</li>
                <li class="py-1">relevance: is the tweet relevant to the construction project</li>

                </ol>
            </div>
        </div>
	</div>
    <div class="row">

        <div class="container-fluid py-4" style="background: #ddd;">
        <div class="container">
            <div class="row mx-2">

                <div class="col-md-7 py-2">
                    <div class="">
                        <div class="card-body py-4 text-white" style="background: #0054a6; border-radius: 20px;">
                            <h3 class="card-title">Sentiment</h3>
                            <form action="/add" method="post">
                                <div class="form-group">


                                    {% if entry %}
                                        <p class="py-1 text-justify">{{ entry.tweet }} </p>
                                    {% endif %}
                                    {{ entry.ID }}
                                    <input class="form-control" type="hidden" name="tweet_id" value={{ entry.id }}>
                                    <input class="form-control" type="hidden" name="tweet" placeholder="Title" value= {{ entry.tweet }}>
                                    <div class="form-check">
                                        <div class="form-check form-check-inline">
                                            <div class="form-control"  style="color: #000">Sentiment
                                                <input class="form-check-input" type="radio" name="sentiment" id="inlineRadio1" value=1>
                                                <label class="form-check-label" for="inlineRadio1">Positive</label>

                                                <input class="form-check-input" type="radio" name="sentiment" id="inlineRadio2" value=0>
                                                <label class="form-check-label" for="inlineRadio2">Neutral</label>

                                                <input class="form-check-input" type="radio" name="sentiment" id="inlineRadio3" value=-1>
                                                <label class="form-check-label" for="inlineRadio3">Negative </label>

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-check text-warning" style="color: #000; font-weight: bold;">
                                        <input class="form-check-input" type="checkbox" value=1 name="sarcasm" id="sarcasm">
                                        <label class="form-check-label" for="defaultCheck1">Sarcasm</label>
                                    </div>
                                    <hr>
                                    <div class="form-check text-warning" style="color: #000; font-weight: bold;">
                                        <input class="form-check-input" type="checkbox" value=1 name="relevant" id="relevant">
                                        <label class="form-check-label" for="defaultCheck1">Relevant</label>
                                    </div>
                                    <hr>
                                    <button class="btn btn-primary" type="submit">
                                        Add
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>



        </div>
            <div class="col-md-5">
                <div class="pb-2">
                    <a href="{{ entry.url }}">Twitter</a>
                </div>
                <iframe class="form-control" height="400" src="https://twitframe.com/show?url=https://twitter.com/ICELibrary/status/1111250387464531968"></iframe>
            </div>
            </div>

            <div class="row justify-content-around items-center pt-3 text-center">
                <div class="d-flex flex-wrap">
                    <div class="full px-2">
                        <h1 class="text-success text-center">Completed</h1>
                        <h4>{{completed}}</h4>
                    </div>
                    <div class="full px-2">
                        <h1 class="text-warning">Remaining</h1>
                        <h4>{{remaining}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}






